body{
    margin: 0;
    padding: 0;
    background-color: black;
}


.landpage-img img{
    width: 100%;
}



.zaiti-v-kabinet{
    color: white;
}



.button-undrlndpage111{
    border: none;
    background: white;
    color: white;
    border-radius: 60px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    width: 150px;
    padding: 10px;
}



.inside-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
}


.kurs{
    color: white;
    font-size: 50pt;
}


.landpage{
    background: url('imgs/main-screen__bgc.png')  no-repeat center;
    height: 800px;
    background-size: cover;
    background-position: right top;
}


.button-undrlndpage222{
    border: none;
    background: white;
    color: white;
    border-radius: 60px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    padding: 10px;
    width: 200px;
}

.earn{
    border: 1px solid black;
    background: linear-gradient(94.78deg, #DF5950 10%, #451046 60%, #ffffff 30%);
    height: 10px;
    width: 100%;
    
}

.earn-main{
    width: 50%;
}



.ycheniki{
    color: rgb(155, 155, 155) ;
}


.kk{
    color: white;
    font-weight: bold;
}



.order{
    display: flex;
    flex-direction: row;
    background: #121212;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}


.students{
    color: rgb(155, 155, 155) ;
}

.number{
    color: white;
    font-weight: bold;
}




#btn1 {
    display: none;
}

#btn2{
        border: none;
        background: white;
        color: white;
        border-radius: 60px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        width: 183px;
        padding: 10px;
}

@media (max-width:993px) {
    #btn1 {
        display: block;
        border: none;
        background: white;
        color: white;
        border-radius: 60px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        width: 183px;
        padding: 10px;
    }

    #btn2 {
        display: none;
    }
}

.money{
    width: 100%; 
    display: flex; 
    justify-content: space-between;
}

.dollars{
    color: white;
}

@media (max-width:776px){
    .kurs{
        font-size: 40pt;
    }

    .timer{
        display: none;
    }
}

@media (max-width:1036px){
    .order{
        flex-direction: column;
        width: 100%;   
    }

    .earn-main{
        width: 100%;
        margin-top: 50px;
    }

    .students{
        font-size: 15pt;
    }


    .chem-zanimayemsa-main{
        flex-direction: column !important;
    }

    .text-chem-zanimayemsa{
        width: 100% !important;
    }


    .cubik{
        flex-direction: column !important;
    }

    .cubes-main{
        margin-top: 50px !important;
    }

    .procents{
        display: none !important;
    }

    .lorem{
        display: none !important;
    }

    .proc{
        display: block !important;
        font-size: 36px;
        color: white;
    }

    .lorm{
        display: block !important;
        margin-top: 30px !important;
    }

    .first-main{
        flex-direction: column !important;
        margin-top: 150px !important;
    }
   
    .imgsss{
        display: none !important;
    }

    .adapt-img{
        display: block !important;
        width: 70px !important;
        margin-bottom: 30px;
    }

    .adapt-img2{
        width: 30px !important;
        display: block !important; 
        margin-bottom: 30px;
    }


    .first{
        margin-bottom: 50px !important;
    }


   
    

}

@media (max-width:484px){
    .start{
        font-size: 35px !important;
    }

}


@media (max-width:794px){
    .text-first{
        font-size: 38px !important;
    }
}

@media (max-width:640px){
    .text-first{
        font-size: 28px !important;
        text-align: center !important;
    }
}

@media (max-width:628px){
    .kurs{
        font-size: 30pt;
    }
}

@media (max-width:480px){
    .kurs{
        font-size: 20pt ;
    }
}

@media (max-width:332px){
    .kurs{
        font-size: 18pt;
    }
}

@media (max-width:583px){
    .chem-zanimayemsa{
        border: 13px solid #C89AFC !important;
        height: 300px !important;
        width: 330px !important;
    }

  
    .text-chem-zanimayemsa{
        width: 100% !important;
    }

    .chem-zanimayemsa img{
        width: 100% !important;
    }
}

@media (max-width:460px){
    .chem-zanimayemsa{
        border: 13px solid #C89AFC !important;
        height: 250px !important;
        width: 280px !important;
    }

    .text-chem-zanimayemsa{
        width: 100% !important;
    }
}


.chem-zanimayemsa{
    border: 20px solid #C89AFC ;
    height: 400px;
    width: 430px;
    margin-top: 130px;
}

.chem-zanimayemsa img{
    width: 100%;
    margin-top: 30px;
}

.chem-zanimayemsa-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    padding: 30px;
}

.text-chem-zanimayemsa{
    width: 50%;
    margin-top: 80px;
}

.text-chem{
    font-size: 30pt;
    color: white;
}

.text-chem-main{
    margin-bottom: 60px;
}

.text-lorem{
    color: white;
}


.percents-main{
    margin-top: 80px;
}


.cubes-main{
    width: 100%;
    height: 100%;
}

.cubes-super-main{
    padding: 80px;
}

.procents{
    font-size: 36px;
    color: white;
}

.textiko{
    margin-bottom: 60px;
}

.start{
    font-size: 48px;
    color: white;

}

.start::before{
    content: '';
    border: 1px solid black;
    border-radius: 100px;
    width: 30px;
    height: 100px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    color: white;
    transform: rotate(45deg);

}

.cubes{
    border: 1px solid black none ;
    height: 80px;
    width: 100%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.cubes2 {
    border: 1px solid black none;
    height: 60px;
    width: 100%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}

.cubes3 {
    border: 1px solid black none;
    height: 30px;
    width: 100%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    
}

.cubes4 {
    border: 1px solid black none;
    height: 10px;
    width: 100%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}



.lorem{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    color: white;
}





.lorem div{
    padding: 30px;
    font-size: 10pt;
}


.cubik{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.textiko{
    color: white;
}

.procents{
    display: flex;
    justify-content: space-around;
}

.procents div{
    width: 324px;
}

.proc{
    display: none;
}

.lorm{
    display: none;
    color: white;
}

.text-first-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-first{
    color: white;
    font-size: 48px;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    
    
}

.first img{
    width: 5%;
}

.first-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.txt{
    font-size: 26px;
    color: white;
}

.imgsss{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

.imgsss img{
    width: 80px;
}

.profession{
    margin-top: 220px;
}

.adapt-img{
    display: none;
}






.kiko{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid white;
    
    
}

#kiko1{
    border-bottom: 0;
   
}

.im{
    border-right: 1px solid white;
}

.im1{
    padding: 50px;
}

.im1 img{
    width: 170px;
}



@media (max-width: 1288px ){
    .maink{
        display: none !important;
    }

    .main2501{
        display: flex !important;
        justify-content: center;
        align-items: center;
        

    }


}




.maink{
  padding: 100px;
  margin-top: 150px;
    
}



.partneri{
    font-size: 40px ;
    color: white;
}

.partneri-main{
    margin-bottom: 100px;
    text-align: center;
}







.prop1{
    display: flex;
    flex-direction: row;

    
   
}


.bb{
    border-right: 1px solid white;
    height: 100px;
}

.k1{
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding: 35px;
    

}

#k1pp{
    border-bottom: 0;

}


.main2501{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 150px;
  
   
   
}

#k1p{
    
    border-left: 0;

}

#ik{
    border-bottom: 0;
    border-left: 0;
  
}

@media (max-width: 537px){
    .prop1{
        width: 100%;
    }

    #k1p{
        width: 100%;
    }

    #ik{
        width: 100%;
    }

    #k1pp{
        width: 100%;
    }

    .k1{
        width: 100%;
        
    }

    .k1 img{
        width:  100%;
    }
}

@media (max-width: 380px){
    .partneri{
        font-size: 30px;
    }
}





.block {
    width: 280px;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.main {
    display: flex;
    
}
.line {
    border-right: 3px solid purple;
    position: relative;
    height: 126px;
    
}
.l {
    width: 25px;
    height: 1px;
    background-color: white;
    position: absolute;
    top:25px;
    right: 0;
}

.g {
    width: 25px;
    height: 1px;
    background-color: white;
    position: absolute;
    top:25px;
    left:0;
}


.text-kurs{
    margin-left: 20px;
    text-align: start;
    color: white;
}

.text-kurs2{
    text-align: end;
    margin-right: 20px;
    color: white;
    
}


.flex-box-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.schedule-header{
    text-align: center;
    margin-bottom: 30px;
}

.schedule-header img{
    margin-bottom:50px ;
    width: 70px;
    color: white;
}

.schedule-header{
    color: white;
}


.programma-obuchenia{
    font-size: 40pt;
}


@media(max-width: 540px){
    .flex-box-main{
        display: block !important;
        
    }

    .line{
        height: 180px;
    }
}


.end-of-site{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    color: white;
    padding: 10px;
    margin-top: 60px;
    
}

.end-of-site img{
    margin-bottom: 20px;
}


.btn-end-of-site{
    border-radius: 60px;
    background: #000;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin-top: 20px;  
}

.end-of-site-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    
}

.test{

    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    
    
}


.our-teachers-main{
    font-size: 30px;
    color: white;
    
}

.dmitriy{
    font-size: 20px;
}

.dmitriy2{
    font-size: 12px;
    margin-top: 10px;
}


@media(max-width: 876px){
    .end-of-site-main{
        flex-direction: column !important;
        padding: 0;
    }

   

    .test{
        flex-direction: column !important;
    }
}



.rassilka-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}




.search-end{
    border-radius: 40px;
    border: 0;
    color: gray;
    width: 350px;
    padding: 7px;
    background: rgb(35, 35, 35);
}

.button-end{
    border-radius: 40px;
    border: 0;
    padding: 7px;
    transform: translateX(-30px);
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    width: 150px;
    color: white;
}


.stati{
    font-size: 48px;
    color: white;
    font-weight: 500;
}


.btn-end-site{
    margin-top: 80px;
}


.text-after-stati{
    margin-top: 40px;
}


.icons-end{
    display: flex;
    height: 100px;
    align-items: center;
}

.icon{
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid;
    padding: 15px;
    border-radius: 30px ;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

@media(max-width: 524px){
    .search-end{
        width: 250px;
    }
}

@media(max-width: 431px){
    .search-end{
        width: 200px;
    }
}